<h5>Categories List</h5>

<table class="table table-bordered" style="width: 60%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      {{
        category.id
      }}
      <td><app-categorie-item [value]="category"></app-categorie-item></td>
      <td>
        <span class="text-primary" (click)="remove(category.id)">Delete</span>
      </td>
      <td>
        <span class="text-primary" (click)="showDetails(category.id)"
          >Details</span
        >
      </td>
    </tr>
  </tbody>
</table>
<section>
  <table>
    <tr>
      <td><label for="">category Id</label></td>
      <td><input type="text" [(ngModel)]="categorieId" /></td>

      <td><label for="">category Name</label></td>
      <td><input type="text" [(ngModel)]="categorieName" /></td>

      <td><input type="submit" value="Add" (click)="createCategory()" /></td>
    </tr>
  </table>
</section>

<button (click)="goToFormation()">Go to Trainings</button>
